@use "sass:map";
@use './styles/utilities.scss';
@use './styles//CssTest.scss';
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.9rem ;
}

// a mixin, used to create a block of reusable code

@mixin div-styling($color){
  background-color: $color;
  font-size: 30px;
  color: green;
}



.css-body{
  background-color: steelblue;
  height: 50vh;
  display: flex;
  
  
  >.div-1{
    @include div-styling(yellow);
    flex: map.get(utilities.$flex-sizes,'large');
  }
  >.div-2{
    @include div-styling(white);
    flex: map.get(utilities.$flex-sizes,'small');
  }
  >.div-3{
    @include div-styling(grey);
    flex: map.get(utilities.$flex-sizes,'small');
  }
  
}



.api{
  height: 100vh;
  background-color: gray;

  input{
    field-sizing: content;
   // width: 150px;
  }
  textarea{
   field-sizing: content;
    max-width: 100px;
   
    resize: none;
  }
}